<form action="/customerlogin/sitehome/" actoin="post">
<h2>Payment by:{{pay}}</h2>
<h2>Shipping Address:{{address}}</h2>
<h2>Total Rupees Paid:{{total}}</h2>
<h1>Thank you for shopping with Handyman! :)</h1>
<input type="submit" value="Continue Shopping" style="background-color:grey ;color:white; padding:3px;">

</form>
<style>body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: black	;
  background: #3aafa9; 
  padding: 25px ;
}

table{ border:2px solid black; border-spacing: 1; font-size:1.5em;
background-color:grey; }
img { border: 0; max-width: 100%; }

h2 {
  font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0 #7184d8;
  font-size: 3.5em;
  line-height: 1.1em;
  padding: 6px 0;
  font-weight: normal;
  text-align: center;
  background-color:grey;
}
</style>