<html>
<body><style>
body{background:lightgrey;}
h1	 {
  font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
  color: #3aafa9;
  text-shadow: 1px 2px 0 #7184d8;
  font-size: 3.5em;
  line-height: 1.1em;
  padding: 6px 0;
  font-weight: normal;
  text-align: center;
}</style>
<form action="addtocart.html">
<h1>Thank You For Shopping with Handyman!</h1>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>Your Order has been placed</h2>
<h3>Iphone X will be deliver to you in 4-5 days :)</h3>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<center><input type="submit" value="Continue shopping" style="height:30px";> 
</form>
</body>
</html>