<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'login/style2.css' %}" />
<body>
  <body>

  <form action="product.html" method="post">{%csrf_token%}
	<header>
		<h1>Handyman</h1>
		&nbsp;
		<input type="text" name="search" placeholder="Search the products,brands and more" size="100px">
		&nbsp;
		<div class="container">
		<div> <a href="login.html">LOGIN</a> </div>
		&nbsp;
		<div><a href="cart.html">CART</a></div>
		</div>
	</header>
		<img src="register1.png" width="1350">
 	<header>
		<table>
			<h2>Phones:</h2>
			<center><tr><td><img src="iphone.jpg" height="250" width="300"></td><td><img src="index3.jpg" height="250" width="300"></td><td><img src="index2.jpg" height="250" width="300"></td><td><img src="index1.jpg" height="250" width="300"></td></tr>
			<tr><td><input type="checkbox" name="phone1"></td> <td><input type="checkbox" name="phone2"></td><td><input type="checkbox" name="phone3"></td><td><input type="checkbox" name="phone4"></td></tr>
		</table>
			<center><input type="submit" value="Add To Cart">

	</header>
 </form>


</body>
</html>

